.controller {
    width: 15%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;

    &__row {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #2a2a2a;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__tab {
        width: 100%;

        &:first-child {
            border-top: 3px solid #d36b0b;
        }
    }

    &__menu-item {
        cursor: pointer;
        width: 50px;
        height: 50px;
        background-color: #252525;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ease;

        &--active {
            background-color: #d36b0b;
        }

        &:hover {
            background-color: #5a5a5a;
        }

        &:not(:last-child) {
            border-right: 1px solid #2a2a2a;
        }

        & img {
            width: 25px;
            height: 25px;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        background-color: #ddd;
        text-align: center;
        border-bottom: 1px solid #2a2a2a;

        &--light {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &:nth-child(2n + 1) {
                border-bottom: 1px solid #c5c5c5;
            }

            & p {
                width: 100%;

                &:not(:last-child) {
                    border-right: 1px solid #c5c5c5;
                }

                &:last-child {
                    width: 200%;
                }
            }
        }
    }
}
