.controller {
    width: 15%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: $color-grey-dark;

    &__menu {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $color-grey-dark;
    }

    &__menu-item {
        cursor: pointer;
        width: $dashboard-height;
        height: $dashboard-height;
        background-color: #252525;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ease;

        &--active {
            background-color: #d36b0b;
        }

        &:hover {
            background-color: #5a5a5a;
        }

        &:not(:last-child) {
            border-right: 1px solid $color-grey-dark;
        }

        & img {
            width: $dashboard-height * 0.5;
            height: $dashboard-height * 0.5;
        }
    }

    &__tab {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &:first-child {
            border-top: 3px solid $color-primary;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.7rem;
        background-color: #ddd;
        text-align: center;
        border-bottom: 1px solid $color-grey-dark;

        &--light {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &:nth-child(2n + 1) {
                border-bottom: 1px solid $color-grey-light;
            }

            & p {
                width: 100%;

                &:not(:last-child) {
                    border-right: 1px solid $color-grey-light;
                }

                &:last-child {
                    width: 175%;
                }
            }
        }
    }
}
