.home {
    display: flex;
}

.dashboard {
    position: relative;
    width: calc(100vw - 4 *#{$dashboard-header-height});
    background-color: $color-grey-dark;
    overflow: hidden;

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: calc(#{$dashboard-header-height} + 1px);
        padding: 0 $dashboard-header-height * 0.4;

        & p {
            z-index: 1000;
            color: #fff;
            font-size: 1.3rem;
            line-height: $dashboard-header-height;
        }

        &::before {
            content: "";
            position: absolute;
            top: -975%;
            left: -90%;
            width: 100%;
            height: 1000px;
            transform: rotateZ(-45deg);
            background-color: lighten($color-grey-dark, 5%);
        }
    }

    &__time {
        display: flex;
        justify-content: space-between;
        width: 200px;
    }
}
